
<ion-header>

        <ion-navbar>
          <ion-title>Client Registration</ion-title>
        </ion-navbar>
      
      </ion-header>
      
      
      <ion-content padding>
          <form [formGroup]="formgroup" (ngSubmit)="save()">
            <ion-input  formControlName="id" type="text" value="{{client?.id}}" hidden></ion-input>

            <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input  formControlName="fname" type="text" value="{{client?.name}}"></ion-input>
            </ion-item>
            <ion-item *ngIf="fname.hasError() && fname.touched">
                <p> Name is required</p>
            </ion-item>
      
              <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input formControlName="lemail"  type="text" value="{{client?.email}}"></ion-input>
              </ion-item>
              <ion-item *ngIf="lemail.hasError() && lemail.touched">
                    <p> Enter valid email</p>
                    </ion-item>
              <ion-item>
                  <ion-label stacked>Address</ion-label>
                  <ion-input formControlName="address" type="text"  value="{{client?.address}}"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label stacked>Phone</ion-label>
                  <ion-input formControlName="phone" type="number"  value="{{client?.phone}}"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label stacked>Mobile</ion-label>
                  <ion-input formControlName="mobile" type="number"  value="{{client?.mobile}}"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label stacked>Date of Birth</ion-label>
                  <ion-datetime displayFormat="MMM DD YYYY" type="date"  formControlName="date"></ion-datetime>
              </ion-item>
      
              <div padding>
                  <button ion-button color="primary"  block [disabled]="!formgroup.valid">{{ client?.id === null ? 'Create client' : 'Update Client' }}</button>
              </div>
          </form>
      </ion-content>
      