<ion-header>
  <ion-navbar>
    <ion-title>
      Easy Medi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
        <ion-list>
          <button ion-item (click)="goToPage('DashboardPage')">
            <ion-icon name="speedometer" item-start></ion-icon>
            Dashboard
          </button>
      
          <button ion-item (click)="goToPage('MedicinePage')"> 
            <ion-icon name="medkit" item-start></ion-icon>
            Medicine
          </button>
      
          <button ion-item (click)="goToPage('ClientListPage')">
            <ion-icon name="contacts" item-start></ion-icon>
            Clients
          </button>
      
          <button ion-item (click)="goToPage('SalePage')">
            <ion-icon name="cash" item-start></ion-icon>
            All Sales
          </button>
      
          <button ion-item (click)="goToPage('ExpensePage')">
            <ion-icon name="ios-basket" item-start></ion-icon>
            Expenses
          </button>
      
          <button ion-item (click)="goToPage('AppointmentPage')">
              <ion-icon name="calendar" item-start></ion-icon>
              Appointment
            </button>

          <button ion-item (click)="goToPage('ReportPage')">
            <ion-icon name="paper" item-start></ion-icon>
            Reports
          </button>
      
          <button ion-item (click)="goToPage('StaffPage')">
              <ion-icon name="person" item-start></ion-icon>
              Staff
            </button>
        </ion-list>



  <!-- <ion-list>
    <ion-item>
      <ion-spinner *ngIf="!savedPost" item-start></ion-spinner>
      <ion-icon *ngIf="savedPost" name="checkmark" item-start color="secondary"></ion-icon>
      <span>Post saved</span>
    </ion-item>
    <ion-item-divider color="primary">Loaded Post</ion-item-divider>
    <ion-item *ngIf="!loadedPost">Post not loaded</ion-item>
    <ion-item-group *ngIf="loadedPost">
      <ion-item>ID: {{loadedPost?.id}}</ion-item>
      <ion-item>Title: {{loadedPost?.title}}</ion-item>
      <ion-item>Author: {{loadedPost?.author.name}}</ion-item>
      <ion-item>Categories: {{getCategories()}}</ion-item>
    </ion-item-group>
  </ion-list> -->
</ion-content>
